* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#title {
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 5px red;
}
#img {
  float: left;
  height: 90px;
  width: 90px;
  padding: auto;
}

#siet {
  text-align: center;
  padding-bottom: 0px;
  color: red;
  text-shadow: 1px 1px 2px white;
}
body {
  background-image: url(./Photos/gbody.jpg);
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.conatiner {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.conatiner h1 {
  margin: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  text-decoration: underline;
}

.gallery {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 32%;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  box-shadow: 0 0 20px #333;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 10px #333);
  transition: 0.3s;
}

.card:hover img {
  filter: grayscale(0%);
}

.card figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

.card:hover figcaption {
  opacity: 1;
  transform: scale(1.03);
}
