/* Default styles */

#title {
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 5px red;
}

#img {
  float: left;
  height: 90px;
  width: 90px;
  padding: auto;
}

#siet {
  text-align: center;
  padding-bottom: 0px;
  color: red;
  text-shadow: 1px 1px 2px white;
}

body {
  background-image: url(./Photos/body.jpg);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  position: relative;
  width: 400px;
  height: 570px;
  border: 2px solid rgba(255, 255, 2250, 5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 32px;
}

.form-box .input-box {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.form-box .input-box input {
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 20px 0 5px;
  color: white;
  font-size: 16px;
}

i {
  position: absolute;
  color: white;
  top: 13px;
  right: 0;
}

input::placeholder {
  color: white;
}

.btn {
  color: white;
  background: blue;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 17px;
  cursor: pointer;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 5);
  text-align: center;
}

.group {
  display: flex;
  justify-content: space-between;
}

.group span a {
  color: white;
  position: relative;
  top: 10px;
  text-decoration: none;
  font-weight: 500;
}

.group a:focus {
  text-decoration: underline;
}

#result {
  color: red;
  font-weight: 100;
  position: relative;
  top: 10px;
}

.popup {
  width: 400px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.4s, top 0.5s;
  text-align: center;
  padding: 0 30px 30px;
  height: 330px;
  color: black;
}

.popup ion-icon {
  color: green;
  font-size: 50px;
}

.popup button {
  width: 100%;
  background: green;
  padding: 10px 0;
  margin-top: 50px;
  border: none;
  outline: none;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
}

.popup a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 2px;
}

.open-slide {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

#buttonList {
  display: flex;
  position: absolute;
  size: 10px;
  color: greenyellow;
  margin-right: 10;
}

#click {
  margin: 50px;
  background-color: chartreuse;
  -webkit-text-fill-color: black;
  transform: scale(1.03);
  filter: drop-shadow(0 0 20px #333);
  transition: 0.5s;
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: medium;
}

#name {
  text-align: center;
  color: yellow;
}

/* Media Query for all devices */

@media only screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  #title {
    font-size: 24px;
  }
  #img {
    float: none;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .form-box {
    width: 80%;
    height: auto;
    font-size: 24px;
  }
  .form-box .input-box {
    width: 100%;
  }
  .form-box .input-box input {
    height: 40px;
    font-size: 14px;
  }
  .btn {
    height: 45px;
    font-size: 16px;
  }
  #buttonList {
    font-size: 12px;
  }
}
